# Configure a database
DATABASE_HOST: 'localhost'
DATABASE_USER: 'MYSQL_USER'
DATABASE_PASS: 'MYSQL_PASS'

# You must specify the license key associated with your New Relic account. (Not used currently)
NEW_RELIC_LICENSE: '~~'

# Configure devise
DEVISE_SECRET: '~~'
DEVISE_PEPPER: '~~'

# Configure Omniauth
OMNI_FACEBOOK_KEY: '~~'
OMNI_FACEBOOK_SECRET: '~~'
OMNI_TWITTER_KEY: '~~'
OMNI_TWITTER_SECRET: '~~'
OMNI_GITHUB_KEY: '~~'
OMNI_GITHUB_SECRET: '~~'
OMNI_REDDIT_KEY: '~~'
OMNI_REDDIT_SECRET: '~~'

# Define some secret keys
SECRET_DEV: '~~'
SECRET_PROD: '~~'
SECRET_TEST: '~~'