<% meta title: 'Login to MayMay' %>
<div class="container">
  <div class="page-header">
    <h1>Authentificate with MayMay</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>Its easy, new and free!</h2>
      <big>
      <p>If you login you get the following extras:</p>
      <ul>
        <li>Be part of something awesome</li>
        <li>Earn imaginary internet points for each view of your memes.</li>
      </ul>
      </big>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>