<% meta title: "About MayMay",
        description: "What is MayMay? why was is created? What it its philosophy? How does it work? Everything (and less) about MayMay",
        keywords: ["About MayMay", "Stupidly Simple", "Awesome API", "Created with love", "Name MayMay", "magical internet points"],
        og: { url: "#{ApplicationHelper.url}/about" },
        twitter: { url: "#{ApplicationHelper.url}/about" }
%>
<div class="container">
  <div class="page-header">
    <h1>About MayMay</h1>
  </div>
  <p class="lead">MayMay was born after i setup <a href="http://alienguy.in">alienguy.in</a>. I figured there are several ways to improve this,
  and implemented a whole new platform in Ruby on Rails. Like always when i get excited about something it explodes,
  and after adding <em>this and that</em> the result always got more impressing.</p>
  <p class="lead">This is how MayMay was born, and this is hopefully also how it will grow and expand.</p>

  <div class="row">
    <br /><br />
    <div class="col-md-4 col-sm-12 text-center">
      <big><i class="fa fa-child" style="font-size:500%"></i></big>
      <h2>Stupidly simple</h2>
      <br />
      <p class="lead">Memes are just another form of more expressive words. Creating them should be as simple as just writing down some words.
        Next to that a lot of modern internet services will show an image when the url is typed out, basically embeding it into its stream.</p>

    </div>

    <div class="col-md-4 col-sm-12 text-center">
      <big><i class="fa fa-terminal" style="font-size:500%"></i></big>
      <h2>Awesome API</h2>
      <br />
      <p class="lead">Typing is one thing, but automation another. This is why our whole application functions are fully featured API.
      Any dynamic pages and functions are also available over the JSON api.<br/><br/><a href="/api">See the API docs</a></p>
    </div>

    <div class="col-md-4 col-sm-12 text-center">
      <big><i class="fa fa-heart" style="font-size:500%"></i></big>
      <h2>Created with love</h2>
      <br />
      <p class="lead">This website/services was created with love and some free time by me, <a href="http://twitter.com/talkb1nary">@talkb1nary</a>
      and design and marketing help from <a href="http://twitter.com/stuuel">@stuuel</a>.<br/><br/> Build with Rails, Devise+Omniauth, jQuery, Masonry and much more. <br/><small><a href="https://github.com/b1nary/MayMay">Also look at our Github</a></small></p>
    </div>
  </div>

  <div class="row">
    <br /><br />
    <div class="col-md-12 col-sm-12">
      <h2>The name "MayMay"</h2>
      <p class="lead">We had a hard time to find a fitting name, and we are still not sure if it is perfect. But i like it!
        <br/>
        <br/><em>Fact is</em>: MayMay sounds damn cute.
        <br/><em>Fact is</em>: Meme sometimes gets misspoken to "May May" by less experienced Internet users.
        <br/><em>Fact is</em>: MayMay is a sarcastic meme.

        <br/><br/>
        Whatever you like our name or not, <strong>meh</strong>.
        </p>
    </div>

    <div class="col-md-12 col-sm-12">
      <h2>The TLD ".in"</h2>
      <p class="lead">Some of you may figured that this is the TLD of india, while this site is not at all associated with india.
      In fact, myself and stuuel are from Switzerland, the Server structure based in Germany. But .in is a good choice in our opinion
      because it looks good and is memorable.<br/><br/>If we talk with current TLD trends i see it as el cheapo .io domain, like .co or .me</p>
    </div>

    <div class="col-md-12 col-sm-12">
      <h2>Only OAuth logins</h2>
      <p class="lead">Well this was my decission and part of my KISS strategy (Keep it Simple Stupid). You wont care about an account with us,
      why should you? But you probably want to collect some magical internet points so why not just use one of the accounts you already have?<br/><br/>
      We are going to see if other services are needed, or if we include the "usual form" someday. Feel free to give feedback about that topic.</p>
    </div>

    <div class="col-md-12 col-sm-12">
      <h2>Magical Internet Points</h2>
      <p class="lead">In fact i am talking not about the nearly similiar named cryptocoin or even Bitcoin. What you get from us are simple
      internet points that will show everyone how cool your memes, and therefore you, are. You can brag with them, or just dont care about them.
      We might will have some initiatives around this in the future.</p>
    </div>

    <div class="col-md-12 col-sm-12">
      <h2>Meme lifetime cycle</h2>
      <p class="lead">Your memes lifetime is not unlimited per default. If your meme will have no requests for several months
        and/or contains purely nonsense content it will be removed in our cleaning cycles. <strong>Memes from registered members will never
        get completely removed</strong>. However they can get removed from the cache which will make them to not appear in our lists as long
        as nobody visits the generation link again. (Short or full link, that does not matter)</p>
    </div>

    <div class="col-md-12 col-sm-12">
      <h2>Meme sorting in lists</h2>
      <p class="lead">You may noticed that memes are not sorted 100% accurate in the web interface. In reality all shown memes are loaded async and are first shown when they are loaded. This leads to images that load faster beeing in front of others.</p>
    </div>

    <div class="col-md-12 col-sm-12">
      <h2>MayMay is OpenSource</h2>
      <p class="lead">MayMay also is OpenSource licensed under MIT. <a href="https://github.com/b1nary/MayMay">Take a look at our Github</a> and feel free to fork it and/or commit some pull requests. Each optimation is welcome and new features are appreciated as well.</p>
    </div>

    
  </div>

</div>
