<% meta title: "No you dont!",
        robots: 'noindex, nofollow'
%>
<div class="container">
  <br />
</div>

<div class="container well text-center">
  <div class="page-header">
    <h1>NO.</h1>
  </div>
  <p class="lead" style="margin-top:-1em">Your request was processed by our request-processing-squirrels but multiple of them
  concluded that, whatever you were doing, is not right and/or violated current processing-squirrel laws.</p>
  <p class="lead">If you think the squirrels got something wrong, you might kindly ask them again, if they happen to come to
    the same conclusion but you still think you are right, you may want to contact the administrator squirrel (or human, whoever is available).</p>

  <br/><br/>
  <p>Your request was processed by John A. Squirro:</p>
  <img src="/images/squirrel.jpg" alt="Processing Squirrel" class="img-responsive" style="max-width:500px; margin:0 auto;" />

</div>
